<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Font>
    <Family></Family>
    <Sizes>
      <Smallest></Smallest>
      <Small></Small>
      <Normal></Normal>
      <Big></Big>
      <Biggest></Biggest>
    </Sizes>
  </Font>
  <Color>
    <Text></Text>
    <Main>HotPink</Main>
    <SideBar>#FF222222</SideBar>
    <ContentBg></ContentBg>
    <Icon></Icon>
  </Color>
</Settings>