<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MR_Performance_Visualization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MR_Performance_Visualization.Properties.Settings>
            <setting name="Main_App_Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Side_Bar_Color" serializeAs="String">
                <value>#FF222222</value>
            </setting>
            <setting name="Menu_Color" serializeAs="String">
                <value>#FFEEEEEE</value>
            </setting>
            <setting name="Main_Content_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Main_Text_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Menu_Icon_Color" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Main_App_Font_Family" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="Main_App_Font_Size_Smallest" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Main_App_Font_Size_Small" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Main_App_Font_Size_Normal" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Main_App_Font_Size_Big" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Main_App_Font_Size_Biggest" serializeAs="String">
                <value>26</value>
            </setting>
        </MR_Performance_Visualization.Properties.Settings>
    </userSettings>
</configuration>